### 1-)Kullanıcıdan Santigrat ya da Fahrenheit olarak sıcaklık değerini alacak ve diğer sıcaklık birimine çevirecek bir kod yazın. Dönüşüm için C = (5/9) * (F - 32) formülünü kullanabilirsiniz.

In [20]:
sıcaklık = input ("Bir sıcaklık değeri giriniz!(Ör:30C, 86F):")
if sıcaklık[2] == "C" :
    print ((int(int(sıcaklık[0:2])*9/5+32)), "F")
elif sıcaklık[2] == "F" :
    print (int(((int(sıcaklık[0:2])-32)*5/9)), "C")
else :
    print ("Geçerli bir sıcaklık değeri girmediniz!")

Bir sıcaklık değeri giriniz!(Ör:30C, 86F):30C
86 F

### 2-)Kullanıcının girdiği kelimeyi ters çeviren bir kod yazınız.

In [15]:
kelime = input ("Kelime :")
print("Kelimenin tersten yazılışı :", kelime[::-1])

Kelime :emre
Kelimenin tersten yazılışı : erme

### 3-)1'den 50'ye kadar olan Fibonacci sayılarından oluşan bir liste oluşturun. İlk iki Fibonacci sayısı 1'dir. Sonraki sayılar, önceki iki sayının toplamıdır.

### 4-)Girilen bir sayı için çarpım tablosunu yazdırın.

 Örnek : Bir sayı girin : 6
         6 x 1 = 6                                                               
         6 x 2 = 12                                                              
         6 x 3 = 18                                                              
         6 x 4 = 24                                                              
         6 x 5 = 30                                                              
         6 x 6 = 36                                                              
         6 x 7 = 42                                                              
         6 x 8 = 48                                                              
         6 x 9 = 54                                                              
         6 x 10 = 60

In [19]:
sayi = input ("Bir sayı giriniz:")
for a in range(1,11):
    b=a*int(sayi)
    print (sayi,"X",a ,"=",b )

Bir sayı giriniz:6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

### 5-)List comprehension kullanarak, 1'den 20'ye kadar tek sayıların karesini, çift sayıların küpünü içeren bir liste oluşturun.

### 1-)

In [14]:
çift = [x**3 for x in range(2,22,2)]

print (çift)
    
tek = [x**2 for x in range(1,21,2)]

print (tek)

[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000]
[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

### 2-)

In [3]:
çift_sayılar=[]
tek_sayılar=[]
for n in range (1,21):
    if n%2==0:
        çift_sayılar.append(n**3)
    else:
        tek_sayılar.append(n**2)
print(çift_sayılar)
print(tek_sayılar)

[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000]
[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]